<h1> All Payloads </h1>

<table class="table table-bordered table-striped">
  <tr class="payload-header">
    {{sortable-header title="Url" sortProperty="url" action="sortBy"}}
    {{sortable-header title="Referrer" sortProperty="referrer" action="sortBy"}}
    {{sortable-header title="Created At" sortProperty="createdAt" action="sortBy"}}
  </tr>
  <tbody>
  {{#each arrangedContent as |payload|}}
  <tr class="payload-row">
    <td>
      <div class="payload-url">
        <p>{{payload.url}}</p>
      </div>
    </td>
    <td>
      <div class="payload-referrer">
        <p>{{payload.referrer}}</p>
      </div>
    </td>
    <td class="payload-created_at">
      <p>{{payload.createdAt}}</p>
    </td>
    </tr>
    {{/each}}
  </tbody>
  </table>
