<div class="text-center">
  <h2> Top Referrers Over the Last 5 Days</h2>
</div>

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4 centered">
  {{data}}
  {{#each dates as |date|}}
    <h2>{{date.date}}</h2>
        {{#each date.urls as |url|}}
          <strong>Url:</strong>  {{url.url}} <br>
          <strong> Visted: </strong> {{url.visits}}<br>
          <strong> Referrered_by: </strong>
          <ol>
            {{#each url.referrers as |ref|}}
              <li>  {{ref.url}} Times: {{ref.visists}} </li>
              {{/each}}
            </ol>
          <br>
        {{/each}}
      <br>
  {{/each}}
  </div>
  <div class="col-md-4"></div>
</div>
